<div class="classes-header">
  <h2>Clases</h2>
  <div class="filters">
    <label>
      Ordenar por
      <select>
        <option>Nombre</option>
        <option>Fecha</option>
        <option>Número de clases</option>
      </select>
    </label>
    <label>
      Últimos
      <select>
        <option>12 meses</option>
        <option>6 meses</option>
        <option>3 meses</option>
        <option>1 mes</option>
      </select>
    </label>
  </div>
</div>

<div class="courses-list">
  <h2>Mis Clases</h2>
  <table>
    <thead>
      <tr>
        <th>Nombre Profesor</th>
        <th>Email</th>
        <th>Teléfono</th>
        <th>Fecha registro</th>
        <th>Fecha baja</th>
        <th>Precio/hora</th>
        <th>Meses de experiencia</th>
        <th>Acción</th>
      </tr>
    </thead>
    <tbody>
      @for(registro of registrosUsuario; track $index){
      <tr>
        <td>
          <img
            [src]="
              registro.foto_profesor
                ? API_URL + registro.foto_profesor
                : '/img/no_profile_freepick.webp'
            "
            alt="Foto de {{ registro.nombre_profesor }} {{
              registro.apellidos_profesor
            }}"
            class="alumno-foto"
          />
          <div>
            <strong
              >{{ registro.nombre_profesor }}
              {{ registro.apellidos_profesor }}</strong
            ><br />
          </div>
        </td>
        <td>{{ registro.email_profesor }}</td>
        <td>{{ registro.telefono }}</td>
        <td>{{ registro.fecha_registro | date : "dd/MM/yyyy" }}</td>
        <td>{{ registro.fecha_fin | date : "dd/MM/yyyy" }}</td>
        <td>{{ registro.precio_hora }} €</td>
        <td>{{ registro.meses_experiencia }} meses</td>
        <td>
          @if(!registro.fecha_fin){
          <button
            (click)="darRegistroDeBaja(registro.id)"
            class="button-primary"
          >
            Darse de baja
          </button>
          }
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
