<div *ngIf="popUpVisible" class="overlay"></div>
<section class="my2 container profesores-list">
  <div class="card my-2">
    <h5
      class="card-header name-prof bg-dark text-white"
      style="color: var(--color-text-primary)"
    >
      {{ myProfesor.nombre }} {{ myProfesor.apellidos }}
      <img
        src="https://cdn3.emoji.gg/emojis/1178-verified.png"
        alt="Check Icon"
        style="
          display: inline;
          width: 20px;
          height: 20px;
          vertical-align: middle;
        "
      />
    </h5>
    <div
      class="card-body d-flex align-items-center"
      style="
        background-color: var(--color-background-secondary);

        position: relative;
        gap: 2em;
      "
    >
      <img
        class="img-prof rounded-circle"
        [src]="API_URL + myProfesor.foto"
        [alt]="myProfesor.nombre"
        style="
          height: 120px;
          aspect-ratio: 1/1;
          display: block;
          object-fit: cover;
        "
      />

      <div class="info-prof-container" style="max-width: 60%">
        <div class="study-general">
          <h6>Áreas de Conocimiento:</h6>
          @for (item of myProfesor.materias; track $index) {
          <ul class="study-fields">
            <li class="studies">{{ item }}</li>
          </ul>
          }
        </div>
        <div class="experience">
          <h6 class="experience-prof">Meses de experiencia:</h6>
          <div class="content-experience-prof">
            {{ myProfesor.meses_experiencia }}
          </div>
        </div>
        <div class="price">
          <h6 class="price-prof">Precio por hora:</h6>
          <div class="content-price-prof">{{ myProfesor.precio_hora }}€/h</div>
        </div>
      </div>

      <div class="flex-grow-1 text-end">
        <div class="flex align-items-center justify-content-center px-4 py-5">
          <div>
            @if ( myProfesor.puntuacion!= null && 0.5 <= myProfesor.puntuacion
            && myProfesor.puntuacion<1.5){
            <i class="fas fa-star star"></i>
            } @if( myProfesor.puntuacion!= null && 1.5 <= myProfesor.puntuacion
            && myProfesor.puntuacion<2.5){
            <i class="fas fa-star star"></i>
            <i class="fas fa-star star"></i>
            } @if(myProfesor.puntuacion!= null && 2.5 <= myProfesor.puntuacion
            && myProfesor.puntuacion<3.5){
            <i class="fas fa-star star"></i>
            <i class="fas fa-star star"></i>
            <i class="fas fa-star star"></i>
            } @if(myProfesor.puntuacion!= null && 3.5 <= myProfesor.puntuacion
            && myProfesor.puntuacion<4.5){
            <i class="fas fa-star star"></i>
            <i class="fas fa-star star"></i>
            <i class="fas fa-star star"></i>
            <i class="fas fa-star star"></i>
            } @if(myProfesor.puntuacion!= null && 4.5 <= myProfesor.puntuacion
            && myProfesor.puntuacion<=5){
            <i class="fas fa-star star"></i>
            <i class="fas fa-star star"></i>
            <i class="fas fa-star star"></i>
            <i class="fas fa-star star"></i>
            <i class="fas fa-star star"></i>
            }
          </div>
        </div>
        <div class="button-home-prof px-4">
          <button
            class="button-contact"
            style="color: var(--color-text-primary); font-weight: 500"
            (click)="mostrarPopUp(myProfesor.id)"
          >
            Más información
          </button>
        </div>
      </div>
    </div>
  </div>
  <app-pop-up-contactar
    *ngIf="popUpVisible"
    [myProfesor]="myProfesor"
    (cerrarPopUp)="cerrarPopUp()"
  ></app-pop-up-contactar>
</section>
