
@import url(https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap);
section{
    font-family: "Work Sans", sans-serif;
}

.study-general {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;

}

.study-fields {
    display: flex;
    flex-direction: row;
    flex-flow: row nowrap;
    padding-left: 0;                       
    margin-bottom: 1em;                        
    list-style-type: none;
    list-style-position: inside;
}

.studies {
    display: inline-block;
    padding-left: 0;
    color: var(--color-text-secondary);
    width: 100%; 
    height: 20%;
    display: inline;
    margin: 0 10 0 0;  
    padding: 0; 
    gap: 10px;
} 

/* meses de experiencia y precio por hora: margin-bottom: 1em;   */
.experience-prof {
    display: inline-block;
    margin-right: 8px;
}

.content-experience-prof {
    margin-bottom: 1em; 
    display: inline-block;
}

.price-prof {
    display: inline-block;
    /* margin-right: 8px; */
}

.content-price-prof {
    margin-bottom: 1em;
    display: inline-block;
    background-color: var(--color-button2);
    border: 3px transparent;
    border-radius: 5px;
    padding-left: 0;                       
    text-align: left;
    justify-content: left;

}
.button-contact {
    background-color: var(--color-button1);
    color: var(--color-text-secondary);
    padding: 0.5em 1em;
    margin-bottom: 1em;  
    width: 50%;
    border: none;
    border-radius: 3px;
    transition: background-color 0.5s ease, box-shadow 0.5s ease;
    }
      
.button-contact:hover {
    box-shadow: 4px 4px 5px rgba(0, 0.3, 0, 0.3);
    }
      
@media (min-width: 390px) and (max-width: 767px) {
     /* metemos column para petitesss */
     /* 100% para el boton de width */
      
 }
      
@media (min-width: 768px) and (max-width: 1039px) {
        
}
      
@media (min-width: 1040px) and (max-width: 1439px) {
     
}
      
@media (min-width: 1440px) {
        
}
      