<nav
  class="navbar navbar-expand-lg border-1 text-white shadow px-3 fixed-top z-1 bg-white"
>
  <div class="container-fluid px-4">
    <div class="text-black">
      <a class="nav-link" routerLinkActive="active" aria-current="page"
        ><img
          class="img-fluid"
          src="../../apple-touch-icon.png"
          alt="logo"
          style="width: 40px; height: 40px"
      /></a>
    </div>

    <div class="d-flex align-items-center justify-content-center">
      <span>
        @if(login && role!=='administrador'){
        <ul class="navbar-nav hover-bg">
          <li class="nav-item dropdown" (click)="toggleNotificaciones()">
            <a
              class="nav-link position-relative d-lg-none dropdown-toggle"
              routerLinkActive="active"
              aria-current="page"
              title="Notificaciones"
            >
              @if(notiCount>0){
              <span
                class="badge bg-warning position-absolute translate-middle p-1"
                style="font-size: 12px"
                >{{ notiCount }}</span
              >
              }
              <i class="fa-regular fa-bell" style="font-size: 22px"></i
            ></a>
            @if(showNotifications){
            <ul
              class="dropdown-menu dropdown-menu shadow text-black text-center"
              style="
                position: absolute;
                left: -250px;
                width: -webkit-fill-available;
              "
            >
              @if(mensajesAgrupados.length === 0){
              <li class="nav-item p-1 text-center text-black-50">
                No tienes notificaciones
              </li>
              }
              <li
                *ngFor="
                  let notificacion of mensajesAgrupados;
                  let i = index;
                  let last = last
                "
                class="nav-item p-1"
                (click)="readNotifications(notificacion.id)"
                [ngClass]="{ 'border-bottom': !last }"
              >
                <a
                  class="text-black"
                  style="background: none; text-decoration: none"
                  [routerLink]="['/dashboard', 'messages']"
                >
                  <small class="d-block mb-1 text-dark"
                    >{{ notificacion.nombre }}
                    {{ notificacion.apellido }}</small
                  >
                  <small class="d-block text-muted">
                    Te ha enviado {{ notificacion.count }} Mensajes
                  </small>
                </a>
              </li>
            </ul>
            }
          </li>
        </ul>
        }
      </span>

      <button
        class="navbar-toggler border-0 bg-white"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#menu"
        aria-controls="menu"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="offcanvas offcanvas-start" id="menu">
      <div class="offcanvas-header border-bottom text-black">
        <a
          class="nav-link"
          routerLinkActive="active"
          aria-current="page"
          [routerLink]="['/home']"
          ><img
            class="img-fluid"
            src="../../apple-touch-icon.png"
            alt="logo"
            style="width: 40px; height: 40px"
        /></a>

        <button
          type="button"
          data-bs-dismiss="offcanvas"
          class="btn-close bg-white"
        ></button>
      </div>

      @if(login === false){
      <div class="offcanvas-body text-start">
        <ul class="navbar-nav ms-sm-auto mi-li hover-bg">
          <li class="nav-item px-lg-4">
            <a
              class="nav-link"
              routerLinkActive="active"
              aria-current="page"
              [routerLink]="['/home']"
              >Inicio</a
            >
          </li>

          <li class="nav-item">
            <a
              class="nav-link"
              routerLinkActive="active"
              aria-current="page"
              [routerLink]="['/login']"
              >Iniciar sesion</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              routerLinkActive="active"
              aria-current="page"
              [routerLink]="['/register']"
              >Registrarse</a
            >
          </li>
        </ul>
      </div>

      }@else if(login === true && role === 'administrador' ){
      <div class="offcanvas-body text-start">
        <ul class="navbar-nav ms-sm-auto mi-li hover-bg">
          <!-- <li class="nav-item ocultarli mx-1">
            <a
              class="nav-link"
              routerLinkActive="active"
              aria-current="page"
              title="Notificaciones"
            >
              @if(notiCount>0){
              <span
                class="badge bg-warning position-absolute translate-middle p-1"
                style="font-size: 12px"
                >{{ notiCount }}</span
              >
              }
              <i class="fa-regular fa-bell" style="font-size: 22px"></i
            ></a>
          </li> -->

          <li class="nav-item ocultarli mx-1">
            <a
              class="nav-link d-flex justify-content-center align-items-center"
              routerLinkActive="active"
              aria-current="page"
              [routerLink]="['/dashboard', '']"
              title="Profesores"
              ><i
                class="fa-duotone fa-solid fa-person-chalkboard"
                style="font-size: 22px"
              ></i>
            </a>
          </li>

          <li class="nav-item ocultarli mx-1">
            <a
              class="nav-link"
              routerLinkActive="active"
              aria-current="page"
              [routerLink]="['/dashboard']"
              title="Estudiantes"
              ><i
                class="fa-duotone fa-solid fa-graduation-cap"
                style="font-size: 22px"
              ></i>
            </a>
          </li>

          <li class="nav-item ocultarli mx-1">
            <a
              class="nav-link"
              routerLinkActive="active"
              aria-current="page"
              (click)="logout()"
              [routerLink]="['/home']"
              title="Salir"
              ><i
                class="fa-solid fa-right-from-bracket"
                style="font-size: 22px"
              ></i>
            </a>
          </li>

          <!-- <li class="nav-item hide-link">
            <a class="nav-link" routerLinkActive="active" aria-current="page">
              @if(notiCount>0){
              <span
                class="badge bg-warning position-absolute translate-middle p-1"
                style="font-size: 12px"
                >{{ notiCount }}</span
              >
              }
              <i class="fa-regular fa-bell" style="font-size: 22px"></i>
              Notificaciones
            </a>
          </li> -->

          <li class="nav-item hide-link">
            <a
              class="nav-link"
              routerLinkActive="active"
              aria-current="page"
              (click)="logout()"
              [routerLink]="['/home']"
            >
              <i
                class="fa-solid fa-right-from-bracket"
                style="font-size: 22px"
              ></i>
              Salir</a
            >
          </li>
        </ul>
      </div>

      } @else if(login === true && role === 'alumno'){

      <div class="offcanvas-body text-start">
        <ul class="navbar-nav ms-sm-auto mi-li hover-bg">
          <li
            class="nav-item ocultarli mx-1 dropdown"
            (click)="toggleNotificaciones()"
          >
            <a
              class="nav-link dropdown-toggle"
              routerLinkActive="active"
              aria-current="page"
              title="Notificaciones"
            >
              @if(notiCount>0){
              <span
                class="badge bg-warning position-absolute translate-middle p-1"
                style="font-size: 12px"
                >{{ notiCount }}</span
              >
              }
              <i class="fa-regular fa-bell" style="font-size: 22px"></i
            ></a>
            @if(showNotifications){
            <ul
              class="dropdown-menu dropdown-menu shadow text-black text-center"
              style="
                position: absolute;
                left: -250px;
                width: -webkit-fill-available;
              "
            >
              @if(mensajesAgrupados.length === 0){
              <li class="nav-item p-1 text-center text-black-50">
                No tienes notificaciones
              </li>
              }
              <li
                *ngFor="
                  let notificacion of mensajesAgrupados;
                  let i = index;
                  let last = last
                "
                class="nav-item p-1"
                (click)="readNotifications(notificacion.id)"
                [ngClass]="{ 'border-bottom': !last }"
              >
                <a
                  class="text-black"
                  style="
                    background: none;
                    align-items: center;
                    text-align: center;
                  "
                  [routerLink]="['/dashboard', 'messages']"
                >
                  <small class="d-block mb-1 text-dark"
                    >{{ notificacion.nombre }}
                    {{ notificacion.apellido }}</small
                  >
                  <small class="d-block text-muted">
                    Te ha enviado {{ notificacion.count }} Mensajes
                  </small>
                </a>
              </li>
            </ul>
            }
          </li>

          <li class="nav-item ocultarli mx-1">
            <a
              class="nav-link"
              routerLinkActive="active"
              aria-current="page"
              (click)="logout()"
              [routerLink]="['/home']"
              title="Salir"
              ><i
                class="fa-solid fa-right-from-bracket"
                style="font-size: 22px"
              ></i>
            </a>
          </li>

          <li class="nav-item hide-link">
            <a
              class="nav-link"
              routerLinkActive="active"
              (click)="limpiarNotificaciones()"
              aria-current="page"
              [routerLink]="[role]"
            >
              @if(notiCount>0){
              <span
                class="badge bg-warning position-absolute translate-middle p-1"
                style="font-size: 12px"
                >{{ notiCount }}</span
              >
              }
              <i class="fa-regular fa-bell" style="font-size: 22px"></i>
              Notificaciones
            </a>
          </li>

          <li class="nav-item hide-link">
            <a
              class="nav-link"
              routerLinkActive="active"
              aria-current="page"
              (click)="logout()"
              [routerLink]="['/home']"
            >
              <i
                class="fa-solid fa-right-from-bracket"
                style="font-size: 22px"
              ></i>
              Salir</a
            >
          </li>
        </ul>
      </div>

      } @else if(login === true && role === 'profesor'){
      <div class="offcanvas-body text-start">
        <ul class="navbar-nav ms-sm-auto mi-li hover-bg">
          <li
            class="nav-item ocultarli mx-1 dropdown"
            (click)="toggleNotificaciones()"
          >
            <a
              class="nav-link dropdown-toggle"
              routerLinkActive="active"
              aria-current="page"
              title="Notificaciones"
            >
              @if(notiCount>0){
              <span
                class="badge bg-warning position-absolute translate-middle p-1"
                style="font-size: 12px"
                >{{ notiCount }}</span
              >
              }
              <i class="fa-regular fa-bell" style="font-size: 22px"></i
            ></a>
            @if(showNotifications){
            <ul
              class="dropdown-menu dropdown-menu shadow text-black text-center"
              style="
                position: absolute;
                left: -250px;
                width: -webkit-fill-available;
              "
            >
              @if(mensajesAgrupados.length === 0){
              <li class="nav-item p-1 text-center text-black-50">
                No tienes notificaciones
              </li>
              }
              <li
                *ngFor="
                  let notificacion of mensajesAgrupados;
                  let i = index;
                  let last = last
                "
                class="nav-item p-1"
                (click)="readNotifications(notificacion.id)"
                [ngClass]="{ 'border-bottom': !last }"
              >
                <a
                  class="text-black"
                  style="
                    background: none;
                    align-items: center;
                    text-align: center;
                  "
                  [routerLink]="['/dashboard', 'messages']"
                >
                  <small class="d-block text-dark"
                    >{{ notificacion.nombre }}
                    {{ notificacion.apellido }}</small
                  >
                  <small class="d-block text-muted">
                    Te ha enviado {{ notificacion.count }} Mensajes
                  </small>
                </a>
              </li>
            </ul>
            }
          </li>

          <li class="nav-item ocultarli mx-1">
            <a
              class="nav-link"
              routerLinkActive="active"
              aria-current="page"
              (click)="logout()"
              [routerLink]="['/home']"
              title="Salir"
              ><i
                class="fa-solid fa-right-from-bracket"
                style="font-size: 22px"
              ></i>
            </a>
          </li>

          <li class="nav-item hide-link">
            <a
              class="nav-link"
              routerLinkActive="active"
              (click)="limpiarNotificaciones()"
              aria-current="page"
              [routerLink]="[role]"
            >
              @if(notiCount>0){
              <span
                class="badge bg-warning position-absolute translate-middle p-1"
                style="font-size: 12px"
                >{{ notiCount }}</span
              >
              }
              <i class="fa-regular fa-bell" style="font-size: 22px"></i>
              Notificaciones
            </a>
          </li>

          <li class="nav-item hide-link">
            <a
              class="nav-link"
              routerLinkActive="active"
              aria-current="page"
              (click)="logout()"
              [routerLink]="['/home']"
            >
              <i
                class="fa-solid fa-right-from-bracket"
                style="font-size: 22px"
              ></i>
              Salir</a
            >
          </li>
        </ul>
      </div>
      }
    </div>
  </div>
</nav>
