<nav
  class="navbar navbar-expand-lg border-1 text-white shadow px-3 fixed-top z-1"
>
  <div class="container-fluid px-4">
    <div class="text-black">
      <a
        class="nav-link"
        routerLinkActive="active"
        aria-current="page"
        [routerLink]="['/home']"
        >LOGO</a
      >
    </div>

    <div class="d-flex align-items-center justify-content-center">
      <span>
        @if(login === true && hasnoti()){
        <ul class="navbar-nav hover-bg">
          <li class="nav-item">
            <a
              class="nav-link position-relative d-lg-none"
              routerLinkActive="active"
              aria-current="page"
              [routerLink]="['/dashboard', '']"
              title="Notificaciones"
            >
              <span
                class="badge bg-warning position-absolute translate-middle p-1"
                style="font-size: 12px"
                id="count-label"
                >{{ notiCount }}</span
              >
              <i class="fa-regular fa-bell" style="font-size: 22px"></i>
            </a>
          </li>
        </ul>
        }
      </span>

      <button
        class="navbar-toggler border-0 bg-white"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#menu"
        aria-controls="menu"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="offcanvas offcanvas-start" id="menu">
      <div class="offcanvas-header border-bottom text-black">
        <a class="nav-link" routerLinkActive="active" aria-current="page"
          >LOGooO</a
        >

        <button
          type="button"
          data-bs-dismiss="offcanvas"
          class="btn-close bg-white"
        ></button>
      </div>

      @if(login === false){
      <div class="offcanvas-body text-start">
        <ul class="navbar-nav ms-sm-auto mi-li hover-bg">
          <li class="nav-item px-lg-4">
            <a
              class="nav-link"
              routerLinkActive="active"
              aria-current="page"
              [routerLink]="['/home']"
              >Inicio</a
            >
          </li>

          <li class="nav-item">
            <a
              class="nav-link"
              routerLinkActive="active"
              aria-current="page"
              [routerLink]="['/login']"
              >Iniciar sesion</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              routerLinkActive="active"
              aria-current="page"
              [routerLink]="['/dashboard', 'registrar']"
              >Registrarse</a
            >
          </li>
        </ul>
      </div>

      }@else if(login === true && role === 'administrador' ){
      <div class="offcanvas-body text-start">
        <ul class="navbar-nav ms-sm-auto mi-li hover-bg">
          <li class="nav-item ocultarli mx-1">
            <a
              class="nav-link"
              routerLinkActive="active"
              aria-current="page"
              [routerLink]="['/dashboard', '']"
              title="Notificaciones"
            >
              @if(hasnoti()){
              <span
                class="badge bg-warning position-absolute translate-middle p-1"
                style="font-size: 12px"
                id="count-label"
                >{{ notiCount }}</span
              >
              }
              <i class="fa-regular fa-bell" style="font-size: 22px"></i
            ></a>
          </li>

          <li class="nav-item ocultarli mx-1">
            <a
              class="nav-link d-flex justify-content-center align-items-center"
              routerLinkActive="active"
              aria-current="page"
              [routerLink]="['/dashboard', '']"
              title="Profesores"
              ><i
                class="fa-duotone fa-solid fa-person-chalkboard"
                style="font-size: 22px"
              ></i>
            </a>
          </li>

          <li class="nav-item ocultarli mx-1">
            <a
              class="nav-link"
              routerLinkActive="active"
              aria-current="page"
              [routerLink]="['/dashboard', '']"
              title="Estudiantes"
              ><i
                class="fa-duotone fa-solid fa-graduation-cap"
                style="font-size: 22px"
              ></i>
            </a>
          </li>
          <li class="nav-item ocultarli mx-1">
            <a
              class="nav-link"
              routerLinkActive="active"
              aria-current="page"
              [routerLink]="['/dashboard', '']"
              title="Ajustes de perfil"
              ><i class="fa-solid fa-gear" style="font-size: 22px"></i>
            </a>
          </li>

          <li class="nav-item ocultarli mx-1">
            <a
              class="nav-link"
              routerLinkActive="active"
              aria-current="page"
              [routerLink]="['/dashboard', '']"
              title="Salir"
              ><i
                class="fa-solid fa-right-from-bracket"
                style="font-size: 22px"
              ></i>
            </a>
          </li>

          <li class="nav-item hide-link">
            <a
              class="nav-link"
              routerLinkActive="active"
              aria-current="page"
              [routerLink]="['/dashboard', '']"
            >
              @if(hasnoti()){
              <span
                class="badge bg-warning position-absolute translate-middle p-1"
                style="font-size: 12px"
                id="count-label"
                >{{ notiCount }}</span
              >
              }
              <i class="fa-regular fa-bell" style="font-size: 22px"></i>
              Notificaciones
            </a>
          </li>
          <li class="nav-item hide-link">
            <a
              class="nav-link"
              routerLinkActive="active"
              aria-current="page"
              [routerLink]="['/dashboard', '']"
            >
              <i
                class="fa-duotone fa-solid fa-person-chalkboard"
                style="font-size: 22px"
              ></i>
              Profesores</a
            >
          </li>
          <li class="nav-item hide-link">
            <a
              class="nav-link"
              routerLinkActive="active"
              aria-current="page"
              [routerLink]="['/dashboard', '']"
            >
              <i
                class="fa-duotone fa-solid fa-graduation-cap"
                style="font-size: 22px"
              ></i>
              Estudiantes</a
            >
          </li>

          <li class="nav-item hide-link">
            <a
              class="nav-link"
              routerLinkActive="active"
              aria-current="page"
              [routerLink]="['/dashboard', '']"
            >
              <i class="fa-solid fa-gear" style="font-size: 22px"></i> Ajustes
              de Perfil</a
            >
          </li>
          <li class="nav-item hide-link">
            <a
              class="nav-link"
              routerLinkActive="active"
              aria-current="page"
              [routerLink]="['/home']"
            >
              <i
                class="fa-solid fa-right-from-bracket"
                style="font-size: 22px"
              ></i>
              Salir</a
            >
          </li>
        </ul>
      </div>

      } @else if(login === true && role === 'alumno'){
      <div class="offcanvas-body text-start">
        <ul class="navbar-nav ms-sm-auto mi-li hover-bg">
          <li class="nav-item ocultarli mx-1">
            <a
              class="nav-link"
              routerLinkActive="active"
              aria-current="page"
              [routerLink]="['/dashboard', '']"
              title="Notificaciones"
            >
              @if(hasnoti()){
              <span
                class="badge bg-warning position-absolute translate-middle p-1"
                style="font-size: 12px"
                id="count-label"
                >{{ notiCount }}</span
              >
              }
              <i class="fa-regular fa-bell" style="font-size: 22px"></i
            ></a>
          </li>

          <li class="nav-item ocultarli mx-1">
            <a
              class="nav-link"
              routerLinkActive="active"
              aria-current="page"
              [routerLink]="['/dashboard', '']"
              title="clases/profesores"
              ><i class="fa-solid fa-book" style="font-size: 22px"></i>
            </a>
          </li>
          <li class="nav-item ocultarli mx-1">
            <a
              class="nav-link"
              routerLinkActive="active"
              aria-current="page"
              [routerLink]="['/dashboard', '']"
              title="Ajustes de perfil"
              ><i class="fa-solid fa-gear" style="font-size: 22px"></i>
            </a>
          </li>

          <li class="nav-item ocultarli mx-1">
            <a
              class="nav-link"
              routerLinkActive="active"
              aria-current="page"
              [routerLink]="['/dashboard', '']"
              title="Salir"
              ><i
                class="fa-solid fa-right-from-bracket"
                style="font-size: 22px"
              ></i>
            </a>
          </li>

          <li class="nav-item hide-link">
            <a
              class="nav-link"
              routerLinkActive="active"
              aria-current="page"
              [routerLink]="['/dashboard', '']"
            >
              @if(hasnoti()){
              <span
                class="badge bg-warning position-absolute translate-middle p-1"
                style="font-size: 12px"
                id="count-label"
                >{{ notiCount }}</span
              >
              }
              <i class="fa-regular fa-bell" style="font-size: 22px"></i>
              Notificaciones
            </a>
          </li>
          <li class="nav-item hide-link">
            <a
              class="nav-link"
              routerLinkActive="active"
              aria-current="page"
              [routerLink]="['/dashboard', '']"
            >
              <i class="fa-solid fa-book" style="font-size: 22px"></i>
              Clases/Profesores</a
            >
          </li>

          <li class="nav-item hide-link">
            <a
              class="nav-link"
              routerLinkActive="active"
              aria-current="page"
              [routerLink]="['/dashboard', '']"
            >
              <i class="fa-solid fa-gear" style="font-size: 22px"></i> Ajustes
              de Perfil</a
            >
          </li>
          <li class="nav-item hide-link">
            <a
              class="nav-link"
              routerLinkActive="active"
              aria-current="page"
              [routerLink]="['/home']"
            >
              <i
                class="fa-solid fa-right-from-bracket"
                style="font-size: 22px"
              ></i>
              Salir</a
            >
          </li>
        </ul>
      </div>

      } @else if(login === true && role === 'profesor'){
      <div class="offcanvas-body text-start">
        <ul class="navbar-nav ms-sm-auto mi-li hover-bg">
          <li class="nav-item ocultarli mx-1">
            <a
              class="nav-link position-relative"
              routerLinkActive="active"
              aria-current="page"
              [routerLink]="['/dashboard', '']"
              title="Notificaciones"
            >
              @if(hasnoti()){
              <span
                class="badge bg-warning position-absolute translate-middle p-1"
                style="font-size: 12px"
                id="count-label"
                >{{ notiCount }}</span
              >
              }
              <i class="fa-regular fa-bell" style="font-size: 22px"></i>
            </a>
          </li>

          <li class="nav-item ocultarli mx-1">
            <a
              class="nav-link"
              routerLinkActive="active"
              aria-current="page"
              [routerLink]="['/dashboard', '']"
              title="Alumnos"
              ><i
                class="fa-duotone fa-solid fa-users"
                style="font-size: 22px"
              ></i>
            </a>
          </li>
          <li class="nav-item ocultarli mx-1">
            <a
              class="nav-link"
              routerLinkActive="active"
              aria-current="page"
              [routerLink]="['/dashboard', '']"
              title="Ajustes de perfil"
              ><i class="fa-solid fa-gear" style="font-size: 22px"></i>
            </a>
          </li>

          <li class="nav-item ocultarli mx-1">
            <a
              class="nav-link"
              routerLinkActive="active"
              aria-current="page"
              [routerLink]="['/dashboard', '']"
              title="Salir"
              ><i
                class="fa-solid fa-right-from-bracket"
                style="font-size: 22px"
              ></i>
            </a>
          </li>

          <li class="nav-item hide-link">
            <a
              class="nav-link"
              routerLinkActive="active"
              aria-current="page"
              [routerLink]="['/dashboard', '']"
            >
              @if(hasnoti()){
              <span
                class="badge bg-warning position-absolute translate-middle p-1"
                style="font-size: 12px"
                id="count-label"
                >{{ notiCount }}</span
              >
              }
              <i class="fa-regular fa-bell" style="font-size: 22px"></i>
              Notificaciones
            </a>
          </li>
          <li class="nav-item hide-link">
            <a
              class="nav-link"
              routerLinkActive="active"
              aria-current="page"
              [routerLink]="['/dashboard', '']"
            >
              <i
                class="fa-duotone fa-solid fa-users"
                style="font-size: 22px"
              ></i>
              Alumnos</a
            >
          </li>

          <li class="nav-item hide-link">
            <a
              class="nav-link"
              routerLinkActive="active"
              aria-current="page"
              [routerLink]="['/dashboard', '']"
            >
              <i class="fa-solid fa-gear" style="font-size: 22px"></i> Ajustes
              de Perfil</a
            >
          </li>
          <li class="nav-item hide-link">
            <a
              class="nav-link"
              routerLinkActive="active"
              aria-current="page"
              [routerLink]="['/home']"
            >
              <i
                class="fa-solid fa-right-from-bracket"
                style="font-size: 22px"
              ></i>
              Salir</a
            >
          </li>
        </ul>
      </div>
      }
    </div>
  </div>
</nav>
