.dashboard-container {
    display: flex;
    min-height: 100vh;
  }
  
  .dashboard-content {
    margin-left: 250px; /* Ajuste igual al ancho del sidebar */
    padding: 20px;
    flex: 1;
    background-color: var(--color-background-secondary);
    color: var(--color-text-main);
  }