<header>
  <app-navbar></app-navbar>
</header>
<section class="wrapper d-flex justify-content-center login-wrapper bg-body flex-column p-3 align-items-center">
  <div>
    <h1>
      <p class="fw-light text-center">
        Hola, <span class="fw-bold">¡bienvenido!</span>
      </p>
      <p class="fw-light text-center">¿Preparado para aprender?</p>
    </h1>
    <form #loginForm="ngForm" (ngSubmit)="getLoginData(loginForm.value, loginForm)">
      <div class="my-2 fw-light">
        <label for="email" class="form-label">Tu email</label>
        <input class="form-control" type="email" id="email" name="email" placeholder="nombre@email.com" ngModel />
      </div>
      <div class="my-2 fw-light">
        <label for="password" class="form-label">Contraseña</label>
        <input class="form-control" type="password" id="password" name="password" placeholder="Escribe tu contraseña"
          ngModel />
      </div>
      <div class="container-right">
        <button class="my-1 fw-bold margin-right-auto" style="color: var(--color-text-secondary); font-size: 0.875em"
          (click)="toggleAlert()">
          ¿Has olvidado tu contraseña?
        </button>
      </div>
      <!-- Div para mostrar el mensaje de alerta -->
      <div *ngIf="showAlert"
        style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0,0,0,0.5);"></div>
      <div *ngIf="showAlert" class="alert-box">
        <p class="tittle-forgetpassword" style="text-align: center; font-size: 1.2em; font-weight: bold">
          ¿Has olvidado tu contraseña?
        </p>
        <p class="subtitle-forgetpassword">
          Introduce tu dirección de correo electrónico y te enviaremos un enlace
          para restablecer tu contraseña.
        </p>
        <input type="email" name="email" placeholder="Introduce tu correo" [(ngModel)]="email" class="input-email" />
        <div class="buttons-forgetpassword">
          <button (click)="sendEmail()" type="submit" class="b-forgetpassword-send">
            Enviar
          </button>
          <button (click)="toggleAlert()" class="b-forgetpassword-close">
            Cerrar
          </button>
        </div>
      </div>
      <div class="mt-4 mb-3 fw-semibold">
        <input class="button-primary" type="submit" value="Entrar" />
      </div>
      <div class="error-box">
        @if(error === true){
        <p class="mt-3 text-center text-danger small">{{ msg }}</p>
        }
      </div>
      <p class="text-center">
        ¿No tienes una cuenta? Regístrate
        <a routerLinkActive="active" aria-current="page" [routerLink]="['/register']"
          title="Ir a registro">aquí</a>
      </p>
    </form>
  </div>
</section>
<footer>
  <app-footer></app-footer>
</footer>