<section class="bg-white p-3 d-flex flex-column justify-content-center align-items-center vh-100">
    <div class="card p-5 text-center border-0 shadow-lg bg-light h-">
        <h1><p class="fw-light text-center">¡Vamos allá!</p>
            <p class="fw-light text-center">¿Cómo quieres <span class="fw-bold">registrarte</span>?</p>
          </h1>
        <div class="mt-4 d-flex flex-column align-items-stretch">
            <a routerLink="/dashboard/nuevo-profesor" class="btn button-primary my-2">
                Profesor
            </a>
            <a routerLink="/dashboard/nuevo-alumno" class="btn button-secondary my-2">
                Alumno
            </a>
        </div>
    </div>
</section>