<section class="bg-white p-3 d-flex flex-column justify-content-center align-items-center vh-100">
    <div class="card p-5 text-center border-0 shadow-lg bg-light" style="max-width: 400px;">
        <h1 class="py-3 text-success border-bottom border-3 border-success">
            Selecciona tu perfil de usuario
        </h1>

        <div class="mt-4 d-flex flex-column align-items-stretch">
            <a routerLink="/nuevo-profesor" class="btn btn-outline-success btn-lg my-2">
                Profesor
            </a>
            <a routerLink="/nuevo-alumno" class="btn btn-outline-success btn-lg my-2">
                Alumno
            </a>
        </div>
    </div>
</section>
