<ul>
  <li>
    <button [routerLink]="['/profile/profesor/my-classes']" class="btn btn-secondary my-2">
      Mis Clases
    </button>
  </li>

  <li>
    <button [routerLink]="['/profile/profesor/my-students']" class="btn btn-secondary my-2">
      Mis Alumnos
    </button>
  </li>

  <li>
    <button [routerLink]="['/profile/profesor/calendar']" class="btn btn-secondary my-2">
      Calendario
    </button>
  </li>

  <li>
    <button [routerLink]="['/profile/profesor/messages']" class="btn btn-secondary my-2">
      Mensajes
    </button>
  </li>

  <li>
    <button [routerLink]="['/profile/profesor/my-account']" class="btn btn-secondary my-2">
      Mi Cuenta
    </button>
  </li>

  <li>
    <button [routerLink]="['/profile/profesor/reviews']" class="btn btn-secondary my-2">
      Reseñas
    </button>
  </li>

</ul>




