<ul>
  <li>
    <button [routerLink]="['/profile/my-students']" class="btn button-secondary w-100">
      Mis Alumnos
    </button>
  </li>

  <li>
    <button [routerLink]="['/profile/messages']" class="btn button-secondary w-100">
      Mensajes
    </button>
  </li>

  <li>
    <button [routerLink]="['/profile/my-account']" class="btn button-secondary w-100">
      Mi Cuenta
    </button>
  </li>

  <li>
    <button [routerLink]="['/profile/reviews']" class="btn button-secondary w-100">
      Reseñas
    </button>
  </li>

</ul>




