<div class="flex">
  <section>
    <aside>
      <app-filter-home (filtro_emitido)="filterProfesor($event)">
      </app-filter-home>
    </aside>

    <div class="profesor-list-home">
      @for (profesor of usuariosList; track profesor.id) {
      <article>
        <app-profesor-card-home
          [myProfesor]="profesor"
        ></app-profesor-card-home>
      </article>
      } @empty {
      <article class="col-12">
        <h3>No hay Profesores para esta Materia</h3>
      </article>
      }
    </div>
  </section>

  <section class="mapa">
    @if (isGoogleMapsLoaded) {
    <google-map width="100%" [zoom]="12" [center]="myposition()">
      @for (profesor of usuariosList; track $index ) {
      <app-mapa-home [myProfesor]="profesor"></app-mapa-home>
      }
    </google-map>
    } @else {
    <div>Cargando mapa...</div>
    }
  </section>
</div>

<app-pop-up-contactar 
*ngIf="profesorSeleccionado"
[myProfesor]="profesorSeleccionado">
</app-pop-up-contactar>