.flex {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

section {
  width: 100%;
}

@media (min-width: 800px) {
  .flex {
    flex-direction: row;
  }
}

.profesor-list-home {
  margin-top: 10px;
  height: 55vh;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
}

.mapa {
  height: auto;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
}
