.flex {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

section {
  width: 100%; 
  background-color: white;
}

@media (min-width: 390px) and (max-width: 767px) {

  flex {
    flex-direction: column;
  }

  img {
    width: 50%;  
}

}

@media (min-width: 768px) and (max-width: 1039px) {
  flex {
    flex-direction: row;
  }
}

@media (min-width: 1040px) and (max-width: 1439px) {
  flex {
    flex-direction: row;
  }
}

@media (min-width: 1440px) {
  flex {
    flex-direction: row;
  }
}

.profesor-list-home {
  margin-top: 10px;
  height: 55vh;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
}

img {
  max-width: 100%; 
  height: auto;     
  display: block;  
}


.mapa {
  height: auto;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
}

