<div class="header">
  <h2 class="section-title text-center">Clases</h2>
  <div class="filters d-flex justify-content-between mt-3">
    <label class="filter-option">
      Ordenar por
      <select>
        <option>Nombre</option>
        <option>Fecha</option>
        <option>Número de clases</option>
      </select>
    </label>
    <label class="filter-option">
      Últimos
      <select>
        <option>12 meses</option>
        <option>6 meses</option>
        <option>3 meses</option>
        <option>1 mes</option>
      </select>
    </label>
  </div>
</div>

<div class="courses-list">
  <h3>Mis Clases</h3>
  <table>
    <thead>
      <tr>
        <th>Nombre Alumno</th>
        <th>Clase</th>
        <th>Fecha de Registro</th>
        <th>Nº Clases</th>
        <th>Precio Clase</th>
        <th>Total Pagado</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let course of courses$ | async">
        <td>
          <img [src]="course.foto" alt="Foto de {{ course.alumnoNombre }}" class="alumno-foto" />
          <div>
            <strong>{{ course.alumnoNombre }}</strong><br />
            <small>{{ course.claseNombre }}</small>
          </div>
        </td>
        <td>{{ course.claseNombre }}</td>
        <td>{{ course.fecha_registro | date: 'dd/MM/yyyy' }}</td>
        <td>{{ course.numClases }}</td>
        <td>{{ course.precioClase }}€</td>
        <td>{{ course.totalPagado }}€</td>
      </tr>
    </tbody>
  </table>
</div>
