@import url(https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap);

section {
  font-family: "Work Sans", sans-serif;
}

input {
  background-color: #f6f6f6;
}

.title {
  color: var(--color-button1);
  background-color: var(--color-button3);
  border-radius: 8px;
  display: inline-block;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  vertical-align: middle;
}

.button-primary {
  background-color: var(--color-button1);
}

.button-secondary {
  background-color: var(--color-button2);
  border-radius: 3px;
}

.button-secondary:hover {
  box-shadow: 4px 4px 5px rgba(0, 0.3, 0, 0.3); /* Sombra cuando el cursor está sobre el botón */
}

.container {
  max-width: 800px;
  width: 90%;
}

.form__img__profile {
  width: 200px;
  height: 200px;
  cursor: pointer;
}

.form__last__row {
  min-height: 250px;
}

.pointer {
  cursor: pointer;
}

.error-box {
  height: 21px;
}
