
/* Estilos generales app, guardadas en custom properties */
:root {
    --color-text-main: #333;
    --color-text-secondary: #3F3F44;
    --color-text-tertiary: #b2b2b4; 
    --color-background-main:#ffffff;
    --color-background-secondary: #f6f6f6;
    --color-button: #FDCB9E;
    --color-link-verde: #CCEABB;
    --color-chat-recibido: #F1F1F1;
    --color-chat-enviado: #3F3F44;
    --font-family: Work Sans, Arial, sans-serif;
    --font-size-base: 16px;
    --line-height-base: 1.5;
    --margin-base: 0;
    --padding-base: 0;
}

/* Estos estilos se aplican globalmente */
* {
    box-sizing: border-box;
    margin: var(--margin-base);
    padding: var(--padding-base);
}

html, body {
    height: 100%;
    color: var(--color-text-main);
    background-color: var(--color-background-main);
    font-family: var(--font-family);
    font-size: var(--font-size-base);
    line-height: var(--line-height-base);
}

/* Para que la experiencia al usuario sea mejor, cuando se desplace por un elemento */
html:focus-within {
    scroll-behavior: smooth; 
}


/* Para que las imágenes sean responsive, así como canvas y videos */
img, picture, svg, video, canvas{
    max-width: 100%;
    height: auto;
}

/* Para que los ordered y unordered lists no tengan puntos o barras */
ul[role='list'], ol[role='list']{
    list-style: none; 
}

/* Apaga las animaciones cuando un usuario no quiere verlas */
@media (prefers-reduced-motion: reduce){
    html:focus-within {
        scroll-behavior: auto;
    }
    *, *::before, *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
        transition: none;
    }
}